<div class="footer-container">

<div class="links-container">
<a class="link-footer" href="" routerLink="/iniciar sesion">Iniciar Sesion</a>

<a class="link-footer" routerLink="/contacto">Contacto</a>

<a class="link-footer" routerLink="/publicaciones">Todas las publicaciones</a>

<a class="link-footer" routerLink="/inicio">Inicio</a>
</div>

<div class="pagina-container">

    <div class="logo-nombre">
        <div class="logo-container">
            <i class="fas fa-camera-retro"></i>
        </div>

        <div class="nombre-de-pagina">
            <a class="link-generic link-inicio" routerLink="/inicio">ArteNatural</a>
        </div>
        </div>

</div>


</div>