<div class="nav-bar-body">

    <div class="logo-nombre">
    <div class="logo-container">
        <i class="fas fa-camera-retro"></i>
    </div>
    <div class="nombre-de-pagina">
        <a class="link-generic" routerLink="/inicio">ArteNatural</a>
    </div>
    </div>
    <div class="links-container">
<ul class="nav-bar-links">

<li class="nav-bar-link">
    <a class="link-generic" routerLink="/inicio">Inicio</a>
</li>

<li class="nav-bar-link">
    <a class="link-generic" routerLink="/publicaciones">Todas las publicaciones</a>
</li>

<li class="nav-bar-link">
    <a class="link-generic" routerLink="/contacto">Contacto</a>
</li>

<li class="nav-bar-link">
    <a routerLink="/iniciar sesion" class="link-generic" >Iniciar Sesion</a>
</li>


</ul>
    
</div>

</div>

