<app-nav-bar></app-nav-bar>

<div class="section-black">

    <div class="titulos">

    <p class="text-1">¿Necesitas ayuda?</p>
    <p class="text-2">¡Contactate con nosotros!</p>
    <p class="text-3">¡Te damos soluciones!</p>

    </div>

<div class="social-links">



<div class="facebook">

<a class="link-redes"href="#">Facebook</a>
 <i class="fab fa-facebook-f social-icon"></i>
</div>


<div class="twitter">

<a class="link-redes" href="#">Twitter</a>
<i class="fab fa-twitter social-icon"></i>
</div>


<div class="instagram">

<a class="link-redes" href="#">Instagram</a>
<i class="fab fa-instagram social-icon"></i>
</div>


</div>


</div>


<div class="white-section">

<p class="titulo">El Servicio de ArteNatural</p>

<p class="descripcion">
    
    Aceptamos proporcionarte el Servicio de ArteNatural, que incluye todos los productos, las funciones, las apps, los servicios, las tecnologías y el software que ofrecemos para cumplir la misión de ArteNatural: acercarte a las personas y cosas que te encantan. El Servicio se compone de los siguientes aspectos: <br> <br>
    
    Ofrecer oportunidades personalizadas para crear, conectar, comunicar, descubrir y compartir. Cada persona es distinta. Queremos fortalecer las relaciones por medio de experiencias compartidas que realmente te interesen. Por lo tanto, creamos sistemas que intentan entender quiénes o qué cosas te interesan y les interesan a los demás, y usamos esa información para ayudarte a crear, encontrar, unir y compartir experiencias que te resulten relevantes. Parte de esto consiste en destacar el contenido, las funciones, las ofertas y las cuentas que te pueden interesar, y ofrecerte formas de experimentar ArteNatural en función de lo que tú y otras personas hacen tanto dentro como fuera de ArteNatural. <br> <br>
    
    <span class="resaltador">
    
    Fomentar un ambiente positivo, inclusivo y seguro. Desarrollamos y usamos herramientas, y ofrecemos recursos a los miembros de nuestra comunidad que contribuyen a que estos vivan experiencias positivas e inclusivas, incluso cuando creemos que pueden necesitar ayuda. <br> <br>
    
    También contamos con equipos y sistemas cuyo trabajo es combatir el abuso y las infracciones de nuestras Condiciones y políticas, así como combatir comportamientos perjudiciales y engañosos.  toda la información que tenemos, incluida la tuya, para tratar de mantener segura nuestra plataforma.  <br>
    
    Desarrollar y usar tecnologías que nos ayuden a respaldar continuamente a nuestra comunidad en constante crecimiento. Organizar y analizar información de nuestra creciente comunidad es central para nuestro Servicio. Gran parte de nuestro Servicio consiste en crear y usar tecnologías de vanguardia que nos ayuden a personalizar, proteger y mejorar nuestro Servicio a gran escala para una amplia comunidad internacional. Las tecnologías automatizadas también nos permiten garantizar la funcionalidad y la integridad de nuestro Servicio. <br> <br>
    
    </span>

    Ofrecer experiencias uniformes y sin interrupciones en otros. ArteNatural forma parte de el compartimiento de tecnologías, sistemas, estadísticas e información, incluida la información que tenemos sobre ti (obtén más información en la Política de Datos), para proporcionar servicios que sean mejores y más seguros.  <br> <br>

    Garantizar el acceso a nuestro Servicio. Para poner en funcionamiento nuestro Servicio de forma internacional, debemos almacenar y transferir datos entre nuestros sistemas de todo el mundo, incluidos aquellos que no están en tu país de residencia. Es necesario y fundamental usar esta infraestructura internacional para brindar nuestro Servicio.

    <br> <br>
    
</p>

</div>


<app-footer></app-footer>